<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments::head('PORN')"></head>

<nav th:replace="fragments/fragments::navigation"></nav>

<body style="background-color: black">

<div class="container-sm">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://wallpapercave.com/dwp1x/wp2181755.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://wallpapercave.com/dwp1x/wp4212151.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://wallpapercave.com/dwp1x/wp4212161.jpg"
                     class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


</div>


</body>

<footer th:replace="fragments/fragments::footer"></footer>
</html>